* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    line-height: 50px;
    text-align: center;
    min-width: 118px;
    padding: 0 16px;
    background: #171100;
    -o-border-radius: 999px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.6rem;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-right: auto;
    margin-left: auto;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav ul {
    display: flex;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul a {
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
    position: relative;
}

.header .nav ul li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 21px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .nav li.active a,
.header .nav a:hover {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
    color: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}

/* Media-block */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    /* vertical-align: baseline; */
    display: block;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    width: 270px;
    height: 244px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .hero-summary .item + .item {
    margin-top: 14px;
}

.hero .hero-summary .item .icon {
    width: 48px;
    height: 48px;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #fff9e8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.hero .hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero .hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero .hero-summary .item .info .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero .hero-summary .item .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
/* Content-block */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
}

.content-block .cta-group .hero-cta {
    line-height: 64px;
    background: var(--primary-color);
    font-size: 1.8rem;
    min-width: 180px;
}

.content-block .cta-group .watch-video {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-left: 28px;
    cursor: pointer;
}

.content-block .cta-group .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.content-block .cta-group .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-left: 14px;
}

.content-block .start {
    margin-left: -28px;
    margin-top: 8px;
}

.content-block .start strong {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    padding-right: 8px;
    margin-left: 28px;
}

/* Popular */
.popular {
    margin: 200px 0;
}

/* popular-top */
.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .info .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .controls .control-btn {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.popular-top .controls .control-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
}

/* course-list */
.course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-list .course-item {
    flex: 1;
    background-color: #fff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.course-list .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.course-list .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    margin: -1px;
    border-radius: 12px 12px 0px 0px;
}

.course-list .course-item .info {
    padding: 16px 22px 22px;
}

.course-item .info .head .rating,
.course-item .info .head,
.course-item .info .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .info .head .title a {
    padding-right: 8px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .info .head .rating .value {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    line-height: 1.75;
}

.course-item .info .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    margin: 6px 0 12px;
}

.course-item .info .foot .book-btn {
    border: none;
    font-size: 1.4rem;
}

.course-item .info .foot .book-btn:hover {
    background: #ffb900;
    color: #fff;
}

.course-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* feedback */
.feedback {
    padding: 96px 0;
    background: #2e2100;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback .feedback-item .info .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.feedback-item .info .title {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .info .dot-list {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.feedback-item .info .dot-list .dot {
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.feedback-item .info .dot-list .dot.active {
    background: var(--primary-color);
    cursor: default;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item .content .open-quotes {
    display: block;
}

.feedback-item .content blockquote {
    padding-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}
/* Features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .body .img-list {
    display: flex;
    gap: 30px;
}

.features .img-list img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .img-list img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .content .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .content .cta-btn {
    min-width: 137px;
    background-color: var(--primary-color);
    color: #fff;
    margin-top: 32px;
}

/* features-2 */
.features-2 {
    margin-top: 70px;
}

.features-2 .body {
    flex-direction: row-reverse;
}

.features-2 .body img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}

.features-2 .body .content {
    width: 49%;
}

/* BLog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    width: 448px;
    margin: 16px auto 0;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog .blog-item {
    border-radius: 16px;
    width: calc(100% / 3 - 20px);
    overflow: hidden;
    flex-shrink: 0;
}

.blog .blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .blog-item img {
    width: 100%;
    height: 250px;
    display: block;
    /* border-radius: 16px 16px 0px 0px; */
}

.blog .blog-item .info {
    padding: 20px 20px 28px;
    background: #ffffff;
}

.blog .blog-item .info .date {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    position: relative;
    padding-bottom: 12px;
    padding-right: 37px;
}

.blog .blog-item .info .date::before {
    content: "";
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 4px;
}

.blog .blog-item .info .date::after {
    content: "";
    height: 1px;
    width: 100%;
    background: #e2dfda;
    border-radius: 0.5px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.blog .blog-item .info .title a {
    display: inline-block;
    margin: 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .blog-item .info .btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.blog .dot-list {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}

.blog .dot-list .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot-list .dot.active {
    background-color: var(--primary-color);
    cursor: default;
}

/* Footer */

.footer {
    padding-top: 96px;
    background: #2e2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21.6%;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .desc {
    margin: 18px 0;
    width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .social {
    display: inline-flex;
    gap: 18px;
}

.footer .column .title {
    display: inline-block;
    padding-right: 48px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
    padding-bottom: 14px;
    border-bottom: 1px solid #59554b;
}

.footer .column .list {
    margin-top: 28px;
}

.footer .column .list a,
.footer .column .list li:first-child {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .column .list li + li {
    margin-top: 12px;
}

.footer .column .list strong {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #ffffff;
}

.footer .copyright {
    padding: 28px 0;
}

.footer .copyright p {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
